@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --dark-color-a: #5d5d5d;
  --dark-color-b: #166b5f;
  --dark-color-c: #353535;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* 
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://i.pinimg.com/originals/8f/14/57/8f14578ef69a4c53352955d1e072eda6.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  font-family: "Roboto", sans-serif;
}

.navbar {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-color-a);
  font-size: 1.1rem;
}

.navbar-logo {
  height: 3rem;
}
.grey-text {
  color: var(--dark-color-a);
}

.callButton {
  background: var(--dark-color-b);
  color: white;
}
.landing-text {
  margin: 3rem;
  color: var(--dark-color-c);
}
.headerDivider {
  border-left: 1px solid #38546d;
  border-right: 1px solid #16222c;
  height: 80px;
}

@media (max-width: 576px) {
  .navbar {
    font-size: 0.9rem;
  }

  .navbar-logo {
    height: 2.5rem;
  }
}
